.gameOfLife {
    .grid {
        margin: auto;
        background-color: white;

        &, th, td {
            border: 1px solid gray;
            border-collapse: collapse;
        }

        &-cell {
            width: 10px;
            height: 10px;

            &--live {
                background-color: green;
            }
        }
    }
}
